h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
    }

    img{
        display:block;
        max-width: 100%;
        height: auto;
    }
    body{
        font-family: "Roboto", sans-serif;
        background-color:#ffffff;
        color: #434455
    }
    
    ul,
    ol{
      list-style-type: none; 
      margin: 0;
      padding: 0; 
    }
    
    a {
        text-decoration: none;
    }

    button {
        padding: 0;
        cursor: pointer;
    } 

    address {
        font-style: normal
    }      
/* ========================================================================================================================================================
COMMON
======================================================================================================================================================== */

    .container{
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto; 
    }

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ========================================================================================================================================================
HEADER
======================================================================================================================================================== */

.main-header {
    border-bottom: 1px solid #e7e9fc ;
} 

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-address,
.menu {
    display: none;
}

.logotype-top{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    }
    
    .logotype-top-span{
        color: #2e2f42;
    }

    .btn-burger{
    background-color: transparent;
    border: none;
    }

    .icon-burger{
        display: block;
        line-height: 0;
        fill: #2F2F37;
    }

    @media screen and (min-width: 768px) {

        .navigation{
            display: flex;
            align-items: center;
        }

        .btn-burger{
           display: none;
        }
        .logotype-top-web{
        margin-right: 120px;
        padding: 24px 0;
        }

        .logotype-top{
            margin-right: 120px;
        }

        .menu{
            display: flex;
            gap: 40px;
        }

        .menu-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding-bottom: 24px;
            padding-top: 24px;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .menu-link:focus ,
        .menu-link:hover{
        color:#404BBF;
        }


        .top-address{
            display: block;
            margin-left: auto;
        }

        .address-link{
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16667;
            letter-spacing: 0.04em;
            color: #434455;
        }

        .address-info{
            display: flex;
            flex-direction: column;
            gap: 12px;
            }

        .address-link:hover,
        .address-link:focus {
        color: #404BBF;
        }


        .current{
            position: relative;
            color:#404BBF;
        }
        
        .current::after{
            content: "";
            position: absolute;
            border-radius: 5px;
            left: 0;
            bottom: -1px;
            background-color: #404BBF;
            height: 4px;
            width:100% ;
            border-radius: 2px;
        }
    }

    @media screen and (min-width: 1158px) {
        .address-info{
            display: flex;
            flex-direction: row;
            gap: 40px;
           }

        .logotype-top-web{
             margin-right: 76px;
             padding: 24px 0;
         }            
         .address-link{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
         } 
    }

    /* ========================================================================================================================================================
    MAIN CONTENT -- SECTION HERO
    ======================================================================================================================================================== */
    .section-hero{ 
        background-color: #2e2f42;
       padding: 72px 0;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7 ),rgba(46, 47, 66, 0.7 )), 
        url(../images/interactive_images/hero-mobile-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        background-position: center;
    }


    .title-hero { 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin-left: auto;
        margin-right: auto;
     }

     .button-hero{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4D5AE5;
        border-radius: 4px;
        padding: 16px 32px;
        border: none;
        margin-top: 72px;
        margin-left: auto;
        margin-right: auto;
        display: block;    
        min-width: 169px; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .button-hero:hover,
    .button-hero:focus{
    background-color: #404BBF;
    }
     @media (min-resolution:192dpi) {
        .section-hero{
        background-image:linear-gradient(rgba(46, 47, 66, 0.7 ),rgba(46, 47, 66, 0.7 )), 
        url(../images/interactive_images/hero-mobile-img@2x.jpg);
    
    }}
    

    @media screen and (min-width: 768px) {
        .section-hero{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7 ),rgba(46, 47, 66, 0.7 )), 
            url(../images/interactive_images/hero-tablet-img.jpg);
        padding: 112px 0;
    }
 
    .title-hero { 
        font-size: 56px;
        max-width: 496px;
     }

     .button-hero{
        margin-top: 36px;
    }
    
    .button-hero:hover,
    .button-hero:focus{
    background-color: #404BBF;
    }
}

    @media (min-resolution:192dpi) {
        .section-hero{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7 ),rgba(46, 47, 66, 0.7 )), 
            url(../images/interactive_images/hero-tablet-img@2x.jpg);
    }
}

    @media screen and (min-width: 1158px) {
        .section-hero{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7 ),rgba(46, 47, 66, 0.7 )), 
            url(../images/interactive_images/hero-desktop-img.jpg);
            padding: 188px 0;
    }

    .button-hero{
        margin-top: 48px;
    }
}

    @media (min-resolution:192dpi) {
        .section-hero{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7 ),rgba(46, 47, 66, 0.7 )), 
            url(../images/interactive_images/hero-desktop-img@2.jpg);
    }
    }

    /* ========================================================================================================================================================
    SECTION BENEFITS  
    ======================================================================================================================================================== */
    
    .section-benefits{
        padding: 96px 0;
    }
    
    .benefits-icom-hidden{
        display: none;
     }

     .visually-hidden {
        position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

      .benefits-name-list{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        }

     .benefits-paragraph{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }

     .benefits-list{
        display: flex;
        flex-direction: column;
        gap: 72px;
     }
  

@media screen and (min-width: 768px){
    .benefits-name-list{
        text-align: start;
    }
    .benefits-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
     }

     .benefits-list-item{
        width:calc((100% - 24px) / 2);
       
     }
}

@media screen and (min-width: 1158px) {
    .section-benefits{
        padding: 120px 0;
    }

    .benefits-icom-hidden{
        display: block;
     }

     .benefits-name-list{
        font-weight: 500;
        font-size: 20px;
     }

     .benefits-paragraph{
        font-weight: 400;
     }

     .container-benefits-icoms{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .benefits-list{
        display: flex;
        gap: 24px;
       
     }
     .benefits-list-item{
        width: calc((100% - 72px) /4 );
        }
}

/* ========================================================================================================================================================
SECTION TEAM 
======================================================================================================================================================== */

.section-team{
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
    }

    .team-list-item{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #ffffff;
        border-radius: 0 0 4px 4px;
        width: 264px;
    }

    .container-info-team{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .main-text-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    }

    .name-team-item {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }
    
    .paragraph-team-item {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
    }

    .social-links-team{
        display: flex;
        gap: 24px;
        justify-content: center;
        margin: 0;
        }
        
        .social-link-team { 
            display: flex;
            background-color: #4D5AE5;
            width:40px ;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .social-link-team:hover ,
        .social-link-team:focus {
            background-color: #404bbf;
        }
        
        .social-icoms-team{
            fill:#F4F4FD;
        }
    
        @media screen and (min-width: 768px) {
            .team-list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 24px;
                row-gap: 64px;
                justify-content: center;
                }
        }

        @media screen and (min-width: 1158px) {
            .team-list{
                display: flex;
                gap: 24px;
                row-gap: 0;
                }
             .section-team{
                    padding: 120px 0;
                } 
                
             .team-list-item{
                    width: calc((100% - 72px) / 4);                          
            }
        }
/* ========================================================================================================================================================
SECTION PORTFOLIO
======================================================================================================================================================== */
.section-portfolio{
padding: 96px 0;
}

.overlay-paragraph-hidden{
    display: none;
}

.main-text-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    }

    .name-portfolio-item{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
    }
    
    .paragraph-portfolio-item{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .portfolio-list {
        display: flex;
        flex-direction: column;
        gap: 48px;
        }

        .portfolio-list-item{
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .portfolio-list-item{
            box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        }
        
        .container-info-portfolio{
            padding: 32px 0 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
        }

        @media screen and (min-width: 768px) {
            .portfolio-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 24px;
                row-gap: 72px;
                justify-content: center;
                }
                .portfolio-list-item{
                 
                    width: calc((100% - 24px) / 2);
                    
                }    
        }

        @media screen and (min-width: 1158px) {

            .overlay-paragraph-hidden{
                display: block;
            }

            .section-portfolio{

                padding: 120px 0;
                
                }
            .portfolio-list-item{
                cursor: pointer;
                width: calc((100% - 48px) / 3);
                
            }

            .portfolio-overlay{
                position: relative;
                overflow: hidden;
                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .portfolio-overlay-:hover{
                box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
                 0px 1px 1px rgba(46, 47, 66, 0.16),
                  0px 2px 1px rgba(46, 47, 66, 0.08); ;
            }
            
            .portfolio-overlay-paragraph{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #4d5ae5;
                transform: translateY(100%);
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
                padding: 40px 32px;
            }
            
            .portfolio-list-item:hover .portfolio-overlay-paragraph {
                transform: translateY(0%);    
            }
            
            .ingredient-overlay-paragraph{
                margin-top: 40px;
                margin-right: 32px;
                margin-left: 32px;  
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;         
            }
            
        
        }
/* ========================================================================================================================================================
PAGE FOOTER
======================================================================================================================================================== */
.page-footer{
    background-color: #2e2f42;
    padding: 96px 0;
}

.logotype-bottom{
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.logotype-bottom-span{
    color: #f4f4fd;
}

.paragraph-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
    margin-bottom: 72px;
}

    .social-name{
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .social-links-footer{
        display: flex;
        gap: 16px;
        justify-content: center;    
        margin-bottom: 72px;
        }
        
        .social-link-footer { 
            display: flex;
            background-color: #4D5AE5;
            width:40px ;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .social-link-footer:hover ,
        .social-link-footer:focus{
            background-color: #31d0aa;    
        }

        .social-icoms-footer{
            fill:#F4F4FD;
        }

        .social-icoms-telegram{
            margin-left: 16px;
        }

        .button-footer{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 165px;                      
            height: 40px; 
            border-radius: 4px;
            background: #4d5ae5;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            border:none;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .button-footer:focus ,
    .button-footer:hover {
        background-color: #31d0aa;
    
    }

    .form-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        }
        
        .subscribe-paragraph{
            display: flex;
            justify-content: center;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #ffffff;
            margin-bottom: 16px;
        }
        
        .form-subscribe-footer{
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 4px;
            width: 288px;                  
            height: 40px;
            padding-left: 16px;
            padding-top:8px ;
            padding-bottom: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        
        .form-subscribe-footer::placeholder{
            color: #ffffff;
        }
        
        .form-subscribe-footer:focus{
            outline: transparent;
        }


@media screen and (min-width: 768px) {

    .paragraph-footer {
        width: 264px;
    }
    .page-footer{
       
        background-color: #2e2f42;
        padding: 96px 0;
    }

    .social-links-footer{
        display: flex;
        gap: 16px;
        margin-bottom: 72px;
        }


    .logotype-bottom {
    display: block;             
 
    }

    .logo-media-footer-container{
        display: flex;

    }

    .container-footer-logop{
        margin-right: 24px;
        margin-bottom: 0;
    }

    .social-links-footer{
        margin-bottom: 72px;
        }

        .form-footer{
            display: flex;
            flex-direction: row;
            gap: 24px;
            }    

         .subscribe-paragraph{
                display: block;
            }
            .page-footer{
                display: flex;
                justify-content: center;
            }       
}

@media screen and (min-width: 1158px) {

    .page-footer{
        padding: 100px 0;
    }

    .container-footer{
        display: flex;
        align-items: baseline;

    }

    .container-footer-logop{
        margin-right: 120px;
    }

    .social-name{
        display: block;
    }
    .logotype-bottom{
        display: flex;
        justify-content: flex-start;
    }

    .social-links-footer{
        margin-right: 80px;
        margin-bottom: 0;
    }

    .paragraph-footer {
        width: 264px;
    }

    .form-subscribe-footer{
        width: 264px;               
    }

    .paragraph-footer {  
        margin-bottom: 0px;
    }

}

/* ========================================================================================================================================================
BACKDROP STYLES
======================================================================================================================================================== */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
     opacity: 1;
    visibility:visible; 
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    padding: 72px 16px 24px 16px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 2px 1px rgba(0, 0, 0, 0.2);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 0;
    border: none;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
    fill: #2E2F42;
}

.modal-close-button:hover,
.modal-close-button:focus{
    background-color: #404BBF;
    fill: #ffffff;
    border: none; 
}

.modal-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.review-form-container{
    margin-bottom: 8px;
}

.review-form-container-texteria{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.review-form-lable{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.review-form-input{
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    background-color: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-input:focus + .review-form-icon{
    fill: #4d5ae5 ;
}

.review-form-input:focus{
border-color: #4d5ae5;
outline: transparent;
}

.review-form-textarea{
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgb(0, 0, 0); 
    border-radius: 4px;
    width: 100%;
    resize: none;
    height: 120px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.review-form-textarea:focus{
    border-color: #4d5ae5 ;
    outline: transparent;
}

.review-form-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.review-form-icon-container{
  position: relative;
}

.review-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-container{
    margin-bottom: 24px;
}

.review-form-checkbox-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.link-privacy-policy{
    color: #4D5AE5;
    text-decoration: underline;
}

.review-form-checkbox:checked + .review-form-checkbox-label .custom-chekbox{
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.custom-chekbox{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-icon-privacy-policy{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button:hover ,
.review-form-button:focus{
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .review-form-checkbox-label{
        display: block;
        
    }
}

@media screen and (min-width: 1158px) {
}

/* ========================================================================================================================================================
MOBILE MENU
======================================================================================================================================================== */
.mobile-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background-color: #ffffff;
    transform: translateX(100%);
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    transform: translateY(0);
}


.mobile-menu-container{
    position: relative;
}

.mobile-menu-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    border:1px solid #e7e9fc ;
}

.mobile-menu-close-btn-icon{
    stroke: #2e2f42;
    margin: 8px;
    stroke-width: 1px;
}

.mobile-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 72px;
    margin-bottom: 168px;

}

.mobile-list-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-list-color{
    color: #404bbf;
}

.mobile-social-list{
    display: flex;
    gap: 40px;
}

.mobile-social-link-icoms{
    display: flex;
    background-color: #4D5AE5;
    width:40px ;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.mobile-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-address-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}     