body{
    font-family: "Roboto", sans-serif;
    background-color:#ffffff;
    color: #434455
}

ul,
ol{
  list-style-type: none;  
}

button {
cursor: pointer;
} 

a {
    text-decoration: none;
}

address {
    font-style: normal
}
/*====================================HEADER STYLES============ */

.logotype {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logotype-top {
    color: #2e2f42;
}

.menu-link {
    
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color:#404BBF;
}



.address-link{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}


/*====================================MAIN CONTENT STYLES============ */

.section-hero{

    background-color: #2e2f42;
}
      
.main-text-hero { 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;    
 }

 .button-hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;

}

.button-hero:hover,
.button-hero:focus{
background-color: #404BBF;
}

/* ============SECTION BENEFITS */

.benefits-name-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.benefits-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============SECTION TEAM */

.section-team{
    background-color:#f4f4fd;

}

.main-text-team {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
}

.name-team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph-team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-list-item{
background: #ffffff;
}

/* =================SECTION PORTFOLIO */

.main-text-portfolio{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
}

.name-portfolio-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph-portfolio-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ====================================PAGE FOOTER============ */
.page-footer{
    background-color: #2e2f42;
}

.logotype {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logotype-bottom{
    color: #f4f4fd;
}



.paragraph-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}